mandelbrot
*.o
*.pgm
times.txt
ddc/mandelbrot
ddc/*.o
ddc/*.pgm
ddc/times.txt
Guia_de_Relatorios.docx.pdf
Implementação 2 - Threads.pdf
testes.tar
testes/__MACOSX/testes/._teste1_serial.txt
testes/__MACOSX/testes/._teste2_openmp.txt
testes/__MACOSX/testes/._teste3_pthreads1.txt
testes/__MACOSX/testes/._times.txt
testes/testes/teste1_serial.txt
testes/testes/teste2_openmp.txt
testes/testes/teste3_pthreads1.txt
Guia_de_Relatorios.docx.pdf:Zone.Identifier
Implementação 2 - Threads.pdf:Zone.Identifier
testes.tar:Zone.Identifier
.gitignore
